.header {
  margin-bottom: 30px;

  .shell {
    display: flex;
    flex-direction: row;
    height: 60px;
    background-color: #ccc;

    .nav {
      flex-grow: 0;
      padding: 20px;
      background-color: #333;
      color: white;
      margin-right: 1px;
      cursor: pointer;
    }
  }
}
