<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <!-- <h1>Test</h1>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script>
      const socket = io.connect('https://scrum-cards.herokuapp.com/');
      socket.on('message', (data) => {
        console.log(data);
        socket.emit('another event', { marcus: 'I am great thanks you' });
      });
    </script> -->
    <div class="js-reload"></div>
    <script src="bundles/manifest.js"></script>
    <script src="bundles/vendor.js"></script>
    <script src="bundles/entry-app.js"></script>
    <script>
      new EntryApp(
        '.js-reload',
        {}
      )
    </script>
  </body>
</html>
